* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    --main-color: black;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(COLOURBOX2610135.webp);
    background-position: cover;
    background-repeat: no-repeat;
}



.header{
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3.5rem 0 0;
    background-color: white;
    margin: 0 auto;
}

.logo{
    font-size: 5rem;
    color: var(--main-color);
    margin-left: 5rem;
}

.header nav{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    justify-content: space-between;
}

.header nav a{
    font-size: 3.0rem;
    text-decoration: none;
    color: black;
    margin-right: 3rem;
    position: relative;
}


.header nav a:hover{
    text-decoration: underline;
}

.search-btn{
    display: flex;
    margin-right: 5rem;
    background-color: black;
    padding: 1.5rem;
    border-radius: 2rem;
    text-align: center;
    transition: color .3s;
}

.search-btn .fa-solid{
    color: white;
    font-size: 1.7rem;
    padding-top: .8rem;
    margin-right: 2rem;
}

.fa-solid:hover{
    color:rgb(113, 107, 107)
}


.search{
    color: white;
    background-color: black;
    font-size: 2rem;
    transition: color .6s;
}

.search:hover{
    color:rgb(113, 107, 107)
}


.search-btn::before{
    content: '';

}


.hero{
    width: 50rem;
    margin: auto;
    padding-top: 3rem;
}

.hero h1{
    font-size: 7rem;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background-color: red;
    border-radius: 20px;
    margin-bottom: 4rem;
    cursor: pointer;
    
}

.hero p{
    font-size: 2rem;
    margin-top: 3.5rem;
    text-align: center;
    margin: 0 auto 37rem;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.men-section{
    background: black;
    height: auto;
}

.men-section h2{
    text-align: center;
    font-size: 5rem;
    color: #fff;
    overflow: hidden;
}


.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;             
    column-gap: 1rem;
    height: 90svh;
}

.img1{
    height: 100%;
    background: url('male-shoe-1.webp');
    background-position: center;
    background-size: cover;
}

.img2{
    height: 100%;
    background: url(male-shoe-2.webp);
    background-position: center;
    background-size: cover;
}

.women-section{
    background-color: black;
    height: auto
}

.women-section h2{
    text-align: center;
    font-size: 5rem;
    color: #fff;
    display: block;
}


.women-main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"women1 women3"
                        "women2 women3";
    height: 90svh;
    flex:1;
    row-gap: 1rem;
    column-gap: 1rem;
}


.women-img-1{
    grid-area: women1;
    height: 100%;
    background: url(female-shoe-1.webp);
    background-position: center;
    background-size: cover;
    background-position-y: -45rem;
    background-repeat: no-repeat;
    background-size: auto;
}

.women-img-2{
    grid-area: women2;
    height: 200%;
    background: url(female-shoe-2.webp);
    background-position: center;
    background-size: cover;
    background-size: auto;
}

.women-img-3{
    grid-area: women3;
    height: 100%;
    background: url(female-shoe-3.jpg);
    background-position: center;
    background-size: cover;
    background-size: auto;
    background-position-y: -30rem;
}


.kid-section{
    height: auto;
    background: #000;
}

.kid-section h2{
    text-align: center;
    font-size: 5rem;
    color: #fff;
    display: block;
}

.kid-main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90svh;
    column-gap: 1rem;
    row-gap: 1rem;
}


.kid-img-1{

    height: 100%;
    background: url(kid-shoe-1.webp);
    background-position: center;
    background-size: cover;
    background-position-y: -25rem;
    background-repeat: no-repeat;
    background-size: auto; 
}
.kid-img-2{
    height: 100%;
    background: url(kid-shoe-2.webp);
    background-position: center;
    background-size: cover;
    background-position-y: -45rem;
    background-repeat: no-repeat;
    background-size: auto;
}
.kid-img-3{
    height: 100%;
    background: url(kid-shoe-3.webp);
    background-position: center;
    background-size: cover;
    background-position-y: -40rem;
    background-repeat: no-repeat;
    background-size: auto;
}
.kid-img-4{
    height: 100%;
    background: url(kid-shoe-4.webp);
    background-position: center;
    background-size: cover;
    background-position-y: -25rem;
    background-repeat: no-repeat;
    background-size: auto;
}
